<settings>

    <setting propertyKey="@Properties.HideHourLeadingZero" title="@Strings.HideHourLeadingZeroTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseVerticalLayout" title="@Strings.UseVerticalLayoutTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.SelectedFont" title="@Strings.SelectFontTitle">
    	<settingConfig type="list" required="false">
            <listEntry value="0">@Strings.FontComfortaa</listEntry>
            <listEntry value="1">@Strings.FontExo</listEntry>
            <listEntry value="2">@Strings.FontLexendTera</listEntry>
            <listEntry value="3">@Strings.FontMonofett</listEntry>
            <listEntry value="4">@Strings.FontMontserrat</listEntry>
            <listEntry value="5">@Strings.FontOpenSans</listEntry>
            <listEntry value="6">@Strings.FontPoppins</listEntry>
            <listEntry value="7">@Strings.FontRoboto</listEntry>
            <listEntry value="8">@Strings.FontTiltNeon</listEntry>
            <listEntry value="9">@Strings.FontTourney</listEntry>
    	</settingConfig>
    </setting>

    <setting propertyKey="@Properties.PresetColor" title="@Strings.SelectPresetColorTitle">
    	<settingConfig type="list">
            <listEntry value="0">@Strings.PresetColorBlue</listEntry>
            <listEntry value="1">@Strings.PresetColorGreen</listEntry>
            <listEntry value="2">@Strings.PresetColorGrey</listEntry>
            <listEntry value="3">@Strings.PresetColorOrange</listEntry>
            <listEntry value="4">@Strings.PresetColorPink</listEntry>
            <listEntry value="5">@Strings.PresetColorRed</listEntry>
            <listEntry value="6">@Strings.PresetColorYellow</listEntry>
    	</settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseCustomColors" title="@Strings.UseCustomColorsTitle">
        <settingConfig type="boolean" />
    </setting>

    <group id="hourGroup" title="@Strings.HourColorGroupTitle" description="@Strings.HourColorGroupDescription">

        <setting propertyKey="@Properties.RedHourColor" title="@Strings.RedHourColorTitle">
            <settingConfig type="numeric" min="0" max="255" required="true"/>
        </setting>

        <setting propertyKey="@Properties.GreenHourColor" title="@Strings.GreenHourColorTitle">
            <settingConfig type="numeric" min="0" max="255" required="true"/>
        </setting>

        <setting propertyKey="@Properties.BlueHourColor" title="@Strings.BlueHourColorTitle">
            <settingConfig type="numeric" min="0" max="255" required="true"/>
        </setting>

    </group>

    <group id="minutesGroup" title="@Strings.MinutesColorGroupTitle" description="@Strings.MinutesColorGroupTDescription">

        <setting propertyKey="@Properties.RedMinutesColor" title="@Strings.RedMinutesColorTitle">
            <settingConfig type="numeric" min="0" max="255" required="true"/>
        </setting>

        <setting propertyKey="@Properties.GreenMinutesColor" title="@Strings.GreenMinutesColorTitle">
            <settingConfig type="numeric" min="0" max="255" required="true"/>
        </setting>

        <setting propertyKey="@Properties.BlueMinutesColor" title="@Strings.BlueMinutesColorTitle">
            <settingConfig type="numeric" min="0" max="255" required="true"/>
        </setting>

    </group>

</settings>
